* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-sec {
    height: 100vh;
    width: 100%;
    background: linear-gradient(179.05deg, #28142C 0.81%, rgba(190, 23, 217, 0) 166.08%);
}

.navbar {
    display: flex;
    padding: 35px;
    margin-left: 40%;
    flex-wrap: wrap;
}

.navbar li {
    list-style: none;
    margin: 0 4.5%;
    padding-top: 2.2%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.main-box {
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-box {
    width: 50%;
    height: 100%;
}

#main-img {
    width: 75%;
    height: 98%;
    margin-left: 15%;
    margin-top: 1%;
}

.content {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 200%;
    line-height: 104.2%;
    /* or 67px */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #C4D133;
    margin-top: 10%;
}

#para {
    position: absolute;
    width: 507.97px;
    height: 148.22px;
    top: 400px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    color: #FFFFFF;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#hire-me {
    position: absolute;
    width: 18.3%;
    height: 7.4%;
    top: 73%;
    background: #EDC01F;
    border-radius: 25px;
    color: #FFFFFF;
    border: none;
}

.second-sec {
    height: 50%;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
}

.img-box-2 {
    width: 50%;
    height: 100%;
}

#abt-img {
    width: 75%;
    height: 86%;
    margin-left: 15%;
    margin-top: 64px;
    margin-bottom: 64px;
}

.about-me {
    margin-top: 64px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-left: 3%;
    /* or 38px */
    color: #C4D133;
}

#para-2 {
    width: 629.77px;
    height: 199.89px;
    margin-top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-img {
    height: auto;
    width: 9%;
    margin: 30px 2.6%;
}
.third-sec{
    height: 100vh;
    width: 100%;
    background: linear-gradient(179.05deg, #28142C 0.81%, rgba(190, 23, 217, 0) 166.08%);
}
#third-sec-heading {
width: 157px;
height: 49px;
padding-top: 5%;
margin: 0 auto;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 104.2%;
/* or 38px */


color: #C4D133;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}